<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog.txt">

  <!-- enable asp.net core layout renderers -->
  <extensions>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>

<!--
  See https://github.com/NLog/NLog/wiki/Getting-started-with-ASP.NET-Core-3
  for information on customizing logging rules and outputs.
   -->
  <targets>
    <target name="logFile" xsi:type="File" fileName="${basedir}/Logs/${shortdate}.xml"
            archiveFileName="${basedir}/Logs/log.${shortdate}.{#####}.xml" archiveNumbering="Sequence"
            archiveEvery="Day" archiveAboveSize="10240000" keepFileOpen="false" maxArchiveFiles="1000"
            layout="${log4jxmlevent:includeNLogData=false}"></target>
    <target name="debugger" xsi:type="OutputDebugString" layout="${message}"/>
    <target xsi:type="Console"
            name="String"
            layout="Layout"
            footer="Layout"
            header="Layout"
            encoding="Encoding"
            error="Boolean"
            detectConsoleAvailable="Boolean" />
  </targets>

  <rules>
    <logger name="*" minlevel="Debug" writeTo="logFile" />
    <logger name="*" minlevel="Trace" writeTo="debugger" />
  </rules>
</nlog>
