
src/.vs/

src/Uploadarr.API/bin/

src/Uploadarr.API/obj/

src/Uploadarr.Common/bin/

src/Uploadarr.Common/obj/

frontend/node_modules/

src/Uploadarr.Core/bin/

src/Uploadarr.Core/obj/

src/Uploadarr.Data/bin/

src/Uploadarr.Data/obj/

src/Uploadarr.Logger/bin/

src/Uploadarr.Logger/obj/
